@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@300&display=swap');
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 725px;
    z-index: 10;
    transition: 0.6s;
}

header .logo{
    position: top;
    font-weight: 700; 
    color: rgba(52, 192, 39, 0.726);
    text-decoration: none;
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.9s;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: rgba(66, 70, 65, 0.801);
}

/*-----------------------------------------------------MENU-------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@300;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Big Shoulders Stencil Display', sans-serif;
}
.capa{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    z-index: -1;
    top: 0;left: 0;
}

.header{
    width: 60%;
    height: 100px;
    position: fixed;
    top: 0;left: 0;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.container .btn-menu, .logo{
    float: left;
    line-height:100px;
}
.container .btn-menu label{
    color: #000;
    font-size: 60px;
    cursor: pointer;
}
.logo h1{
    color: #000;
    font-weight: 400;
    font-size: 90px;
    margin-left: 10px;
}
.container .menu{
    float: right;
    line-height: 100px;
}
.container .menu a{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}
.container .menu a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}

#btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 10px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid red;
    background: #1f1f1f;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
}

/*----------------------------------------------------FOOTER-----------------------------------------------------------*/

footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(82, 128, 189, 0.822);
    height: auto;
    width: 100vw;
    font-family: "Times New Roman";
    padding-top: 40px;
    color: #000;
}

footer .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

footer .footer-content h3{
    font-size: 1.8rem;
    font-weight: 400em;
    text-transform: capitalize;
    line-height: 3rem;
}

footer .footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

footer .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

footer .socials li{
    margin: 0 10px;
}

footer .socials a{
    text-decoration: none;
    color: #000;
}

footer .socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

footer .socials a:hover i{
    color:aqua;
}

footer .footer-bottom{
    background: rgba(230, 223, 223, 0.671);
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

footer .footer-content p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

footer .footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
} 